<style>
        @font-face{
            font-family:Orbitron;
            font-size:9px;
            src:url(./Orbitron/static/Orbitron-Regular.ttf);
        }
        body{
            font-family:monospace;
            font-size:20px;
            //background-color:#90AFC5;
            //color:#0F0;
            text-align:justify;

        }

        h1{
            font-size:40px;
            text-align:center;
            padding:20px 0 1px 0;
            text-decoration:underline;
            margin:auto;
            //position:fixed;
        }
        .introduction{
            font-family:monospace;
            padding:1% 1% 1% 1%;
            margin: 5% 0 2% 3%;
            border-color:#2a3132;
            border-width:2px;
            border-radius:10px;
            //background-color:#763626B1;
            //color:#2a3132;
            width:41.5%;
            border-style:solid;
            box-shadow:10px 5px 20px 5px #000000AF;
        }
        .introduction:hover{
          transform:scale(1.01);
        }
        .knowledge{
            font-family:'Orbitron',sans-serif;
            font-size:18px;

        }

        .heading{
            text-align:center;
            padding:-5px 0 1px 0;
            margin-bottom:-5px;
            font-size:18px;
            text-decoration:underline;
        }
    </style>